<html>
    <head>
        <title>Weather Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <h2>What's the Weather?</h2>
        <form class="weatherText" id="weatherform" action = "{{url_for('render_results') }}" method = "post">
            Search by location Zip Code: 
            <input class="weatherText" id="weatherInput" type = "text" name = "zipCode"><br>
            <input class="weatherText" id="weatherSubmit" type="submit" value = "Submit">
        </form>
    </body>
</html>